* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: aliceblue;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 15px repeat(5, 1fr) 15px;
  grid-template-rows: 3vh 6vh 31vh 2vh 5vh 15vh 15vh 20vh 3vh;
}

.header {
  grid-column: 1 / -1;
  grid-row: 2;
  place-self: center;
}

h1 {
  font-family: "Spartan", sans-serif;
  font-size: 24px;
}

.previewContainer {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  grid-row: 3/4;
  grid-column: 2/7;
  display: grid;
  padding: 5%;
}

/* SELECT BACKGROUND */
.bgForm {
  grid-column: 2/7;
  grid-row: 5;
  place-self: center;
}

select {
  font-family: "Spartan", sans-serif;
  font-size: 12px;
  color: rgb(85, 85, 85);
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgb(202, 202, 202);
  padding: 5px;
  padding-right: 0;
  outline-style: none;
}

/* PREVIEW BG -STYLES*/
.bg__defaultBg {
  background-image: url("../images/beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.bg__astronomy {
  background-image: url("../images/astronomy.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.bg__beach {
  background-image: url("../images/beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.bg__circles {
  background-image: url("../images/circles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.bg__circuit {
  background-image: url("../images/circuit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.bg__eighties {
  background-image: url("../images/eighties.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.bg__rainbow {
  background-image: url("../images/rainbow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.bg__techy {
  background-image: url("../images/techy.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.bg__mermaid {
  background-image: url("../images/mermaid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.bg__pink {
  background-image: url("../images/pink.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.bg__sweetooth {
  background-image: url("../images/sweets.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

/* CHARACTER RADIOS */

/* PREVIEW CHARACTER */
.characterForm {
  font-family: "Spartan", sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
  width: 100%;
  grid-column: 2/7;
  grid-row: 6/7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 25px repeat(2, 1fr);
  grid-gap: 3%;
}

h2 {
  font-size: 13px;
  grid-column: 1/-1;
  margin-top: 5px;
}

.labelContainer {
  display: grid;
  grid-template-columns: 1px 1fr;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.char__defaultKawaii {
  background-image: url("../images/panda.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 3 / span 8;
  grid-column: 3 / span 8;
  background-position: center;
}

.char__panda {
  background-image: url("../images/panda.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 3 / span 8;
  grid-column: 3 / span 8;
  background-position: center;
}

.char__hamster {
  background-image: url("../images/hamster.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 2 / span 10;
  grid-column: 2 / span 10;
  background-position: center;
}

.char__koala {
  background-image: url("../images/koala.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 2 / span 10;
  grid-column: 2 / span 10;
  background-position: center;
}

.char__monkey {
  background-image: url("../images/monkey.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 2 / span 10;
  grid-column: 2 / span 10;
  background-position: center;
}

.char__alien {
  background-image: url("../images/alien.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 3 / span 8;
  grid-column: 3 / span 8;
  background-position: center;
}

.char__lion {
  background-image: url("../images/lion.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 3 / span 9;
  grid-column: 3 / span 8;
  background-position: center;
}

.char__dog {
  background-image: url("../images/dog.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 3 / span 8;
  grid-column: 3 / span 8;
  background-position: center;
}

.char__death {
  background-image: url("../images/death.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 3 / span 8;
  grid-column: 3 / span 8;
  background-position: center;
}

.char__fish {
  background-image: url("../images/fish.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 2 / span 10;
  grid-column: 2 / span 10;
  background-position: center;
}

.char__wolf {
  background-image: url("../images/wolf.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 3 / span 7;
  grid-column: 3 / span 8;
  background-position: center;
}

.charLabel {
  font-size: 1px;
  color: white;
}

.panda-s {
  width: 30px;
  height: 30px;
  background: url(../images/panda.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.koala-s {
  width: 30px;
  height: 30px;
  background: url(../images/koala.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.hamster-s {
  width: 30px;
  height: 30px;
  background: url(../images/hamster.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.monkey-s {
  width: 30px;
  height: 30px;
  background: url(../images/monkey.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.lion-s {
  width: 30px;
  height: 30px;
  background: url(../images/lion.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.alien-s {
  width: 30px;
  height: 30px;
  background: url(../images/alien.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.dog-s {
  width: 30px;
  height: 30px;
  background: url(../images/dog.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.death-s {
  width: 30px;
  height: 30px;
  background: url(../images/death.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.fish-s {
  width: 30px;
  height: 30px;
  background: url(../images/fish.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.wolf-s {
  width: 30px;
  height: 30px;
  background: url(../images/wolf.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

/* ITEM RADIOS */
.defaultItem {
  width: 30px;
  height: 30px;
  background: url(../images/item17.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.one-s {
  width: 30px;
  height: 30px;
  background: url(../images/item11.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.two-s {
  width: 30px;
  height: 30px;
  background: url(../images/item12.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.three-s {
  width: 30px;
  height: 30px;
  background: url(../images/item15.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.four-s {
  width: 30px;
  height: 30px;
  background: url(../images/item14.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.five-s {
  width: 30px;
  height: 30px;
  background: url(../images/item18.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.six-s {
  width: 30px;
  height: 30px;
  background: url(../images/item13.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.seven-s {
  width: 30px;
  height: 30px;
  background: url(../images/item42.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.eight-s {
  width: 30px;
  height: 30px;
  background: url(../images/item10.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.nine-s {
  width: 25px;
  height: 25px;
  background: url(../images/item41.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.ten-s {
  width: 30px;
  height: 30px;
  background: url(../images/item19.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

/* PREVIEW ITEMS1 */
.item1Form {
  font-family: "Spartan", sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
  grid-column: 2/7;
  grid-row: 7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 25px repeat(2, 1fr);
  grid-gap: 3%;
}

.item1__defaultItem {
  background-image: url("../images/item17.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 3 / span 2;
  grid-column: 4 / span 4;
  background-position: center;
}

.item1__one {
  background-image: url("../images/item11.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 1 / span 8;
  grid-column: 3 / span 8;
  background-position: center;
}

.item1__two {
  background-image: url("../images/item12.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 2 / span 8;
  grid-column: 4 / span 6;
  background-position: center;
}

.item1__three {
  background-image: url("../images/item15.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 2 / span 9;
  grid-column: 3 / span 8;
  background-position: center;
}

.item1__four {
  background-image: url("../images/item14.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 1 / span 5;
  grid-column: 5 / span 4;
  background-position: center;
}

.item1__five {
  background-image: url("../images/item18.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 1 / span 5;
  grid-column: 4 / span 6;
  background-position: center;
}

.item1__six {
  background-image: url("../images/item13.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 3 / span 7;
  grid-column: 3 / span 8;
  background-position: center;
  z-index: 1;
}

.item1__seven {
  background-image: url("../images/item42.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 1 / span 4;
  grid-column: 5 / span 4;
  background-position: center;
  z-index: 1;
}

.item1__eight {
  background-image: url("../images/item10.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 1 / span 6;
  grid-column: 4 / span 6;
  background-position: center;
  z-index: 1;
}

.item1__nine {
  background-image: url("../images/item41.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 4 / span 2;
  grid-column: 6 / span 2;
  background-position: center;
  z-index: 1;
}

.item1__ten {
  background-image: url("../images/item19.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 4 / span 6;
  grid-column: 4 / span 6;
  background-position: center;
  z-index: 1;
}

.item1Label {
  font-size: 1px;
  color: white;
  margin-bottom: 5px;
  padding: 5px;
  padding-bottom: 3px;
}

input {
  opacity: 0;
}

/* ITEMS2 */

/*RADIOS*/

.item2Form {
  font-family: "Spartan", sans-serif;
  font-size: 14px;
  padding-bottom: 15px;
  grid-column: 2/7;
  grid-row: 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 25px repeat(2, 1fr);
  grid-gap: 3%;
  border-bottom: 1px dashed rgba(65, 224, 252, 0.616);
}

.item2Label {
  font-size: 1px;
  color: white;
  margin-bottom: 5px;
  padding: 5px;
  padding-bottom: 3px;
}

.defaultItem-t {
  width: 25px;
  height: 25px;
  background: url(../images/item35.svg) no-repeat;
  background-size: contain;
  place-self: center;
}
.one-t {
  width: 25px;
  height: 25px;
  background: url(../images/item22.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.two-t {
  width: 25px;
  height: 25px;
  background: url(../images/item23.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.three-t {
  width: 25px;
  height: 25px;
  background: url(../images/item25.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.four-t {
  width: 25px;
  height: 25px;
  background: url(../images/item26.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.five-t {
  width: 25px;
  height: 25px;
  background: url(../images/item27.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.six-t {
  width: 25px;
  height: 25px;
  background: url(../images/item28.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.seven-t {
  width: 27px;
  height: 27px;
  background: url(../images/item29.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.eight-t {
  width: 25px;
  height: 25px;
  background: url(../images/item30.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.nine-t {
  width: 25px;
  height: 25px;
  background: url(../images/item31.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.ten-t {
  width: 25px;
  height: 25px;
  background: url(../images/item32.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.eleven-t {
  width: 25px;
  height: 25px;
  background: url(../images/item33.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.twelve-t {
  width: 25px;
  height: 25px;
  background: url(../images/item36.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.thirteen-t {
  width: 25px;
  height: 25px;
  background: url(../images/item38.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.fourteen-t {
  width: 25px;
  height: 25px;
  background: url(../images/item39.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.fifteen-t {
  width: 25px;
  height: 25px;
  background: url(../images/item20.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.sixteen-t {
  width: 25px;
  height: 25px;
  background: url(../images/item40.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

.seventeen-t {
  width: 25px;
  height: 25px;
  background: url(../images/item16.svg) no-repeat;
  background-size: contain;
  place-self: center;
}

/* PREVIEW */
.item2__defaultItem {
  background-image: url("../images/item35.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 7 / span 4;
  grid-column: 8 / span 3;
  background-position: center;
  z-index: 1;
}

.item2__one {
  background-image: url("../images/item22.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 7 / span 4;
  grid-column: 8 / span 3;
  background-position: center;
  z-index: 1;
}

.item2__two {
  background-image: url("../images/item23.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 7 / span 4;
  grid-column: 8 / span 3;
  background-position: center;
  z-index: 1;
}
.item2__three {
  background-image: url("../images/item35.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 7 / span 4;
  grid-column: 8 / span 3;
  background-position: center;
  z-index: 1;
}

/* MEDIAQUERIES */

@media all and (min-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 10% 40px 1fr 1fr 10%;
  }

  .header {
    grid-column: 2 / span 8;
    grid-row: 1/2;
    place-self: center;
  }

  h1 {
    font-family: "Spartan", sans-serif;
    font-size: 35px;
  }

  .previewContainer {
    grid-row: 2/ 5;
    grid-column: 5/10;
    display: grid;
    padding: 5%;
  }

  .bgForm {
    grid-row: 2/3;
    grid-column: 2/4;
    justify-self: left;
  }

  .characterForm {
    grid-row: 3/4;
    grid-column: 2/4;
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: 2;
    grid-gap: 2%;
  }

  .item1Form {
    margin-top: 25%;
    grid-row: 4/5;
    grid-column: 2 /3;
  }

  .item2Form {
    grid-column: 5/7;
    grid-row: 3/4;
    display: grid;
  }

  .panda-s {
    width: 50px;
    height: 50px;
    background: url(../images/panda.svg) no-repeat;
    background-size: contain;
    justify-self: center;
  }

  .koala-s {
    width: 50px;
    height: 50px;
    background: url(../images/koala.svg) no-repeat;
    background-size: contain;
    justify-self: center;
  }

  .hamster-s {
    width: 50px;
    height: 50px;
    background: url(../images/hamster.svg) no-repeat;
    background-size: contain;
    justify-self: center;
  }

  .monkey-s {
    width: 50px;
    height: 50px;
    background: url(../images/monkey.svg) no-repeat;
    background-size: contain;
    justify-self: center;
  }

  .lion-s {
    width: 50px;
    height: 50px;
    background: url(../images/lion.svg) no-repeat;
    background-size: contain;
    justify-self: center;
  }

  .alien-s {
    width: 50px;
    height: 50px;
    background: url(../images/alien.svg) no-repeat;
    background-size: contain;
    justify-self: center;
  }

  .dog-s {
    width: 50px;
    height: 50px;
    background: url(../images/dog.svg) no-repeat;
    background-size: contain;
    justify-self: center;
  }

  .death-s {
    width: 50px;
    height: 50px;
    background: url(../images/death.svg) no-repeat;
    background-size: contain;
    justify-self: center;
  }

  .fish-s {
    width: 50px;
    height: 50px;
    background: url(../images/fish.svg) no-repeat;
    background-size: contain;
    justify-self: center;
  }

  .wolf-s {
    width: 50px;
    height: 50px;
    background: url(../images/wolf.svg) no-repeat;
    background-size: contain;
    justify-self: center;
  }
}

@media all and (min-width: 1200px) {
  .App {
    grid-template-rows: 10% 40px repeat(4, 1fr) 10%;
  }

  .header {
    grid-column: 2 / 4;
    grid-row: 1/2;
    justify-self: left;
    align-self: center;
  }

  h1 {
    font-family: "Spartan", sans-serif;
    font-size: 50px;
  }

  .previewContainer {
    grid-row: 2/ 7;
    grid-column: 5/10;
    display: grid;
    padding: 5%;
  }

  select {
    height: 50px;
    width: 400px;
    border: 2px solid rgb(84, 226, 191);
    font-size: 15px;
  }

  .characterForm {
    margin-top: 10%;
    grid-row: 3/4;
    grid-column: 2/4;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
  }

  .item1Form {
    margin-top: 10%;
    grid-row: 4/5;
    grid-column: 2 /4;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
  }

  .item2Form {
    margin-top: 10%;
    grid-row: 5/7;
    grid-column: 2 /4;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
  }
}
